* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
path,
i,
svg {
  pointer-events: none;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: #343233;
  color: rgb(239, 234, 225); */
}
header {
  display: flex;
  max-height: 20vh;
  background: #2c2c2c;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
 .header-img img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.links {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
 .links a {
  color:rgb(239, 234, 225);
  text-decoration: none;
  font-size: 1.2rem;
  padding: .4rem 1rem;
  transition: transform .2s;
}

.links a.special {
  margin-left: 30px;
  background: white;
  color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  transition: transform .4s;
}
.links a.special:hover, .links a:hover {
  /* color: white;
  background: rgb(16, 83, 170); */
  transform: translateY(-3px);
}
.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 2rem 0;
  width: 90%;
  margin: auto;
  gap: 4rem;
}
.articles-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 0.5rem;
}
.articles-info a {
  text-decoration: none;
  font-style: italic;
  color: rgb(66, 66, 66);
}
.articles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 9px 16px -6px rgba(0,0,0,0.75);
}
.article-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 0.5rem;
}
.article-description a {
  text-decoration: none;
  color: red;
}
.me-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  padding: 3rem 2rem;
}
.me-container .image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 50%;
  box-shadow: 10px 9px 16px -6px rgba(0,0,0,0.75);
}
.me-container .title {
  font-size: 5rem;
  font-weight: 300;
  margin-right: 50px;
}
.me-container .description {
  font-size: 1.2rem;
  margin-left: 50px;
  line-height: 1.5;
}